<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{ asset('css/style.css') }}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="navbar-container">
        <ul>
            <li class="logo me-auto">
                <h4>Bali Asri</h4>
            </li>
                <li class="nav-link {{ Request::is('baliasri/home') ? 'active-link' : '' }}">
                    <a href="baliasri/home">Home</a>
                    <div class="underline"></div>
                </li>
                <li class="nav-link">
                    <a href="#">Products</a>
                    <div class="underline"></div>
                </li>
                <li class="nav-link">
                    <a href="#">About Us</a>
                    <div class="underline"></div>
                </li>
                <li class="nav-link">
                    <a href="#">Contact Us</a>
                    <div class="underline"></div>
                </li>
                <li class="nav-link">
                    <a href="#">Services</a>
                    <div class="underline"></div>
                </li>
        </ul>
    </div>
</body>
<script src={{ asset('js/scripts.js') }}></script>
</html>
